.space {
    height: 100%;
    width: 33%;
    float: left;
    border: 1px solid;
}

.row {
    height: 33%;
}

.board {
    height: 600px;
    width: 600px;
}

.x {
	background-image: url("../img/x.png");
	background-repeat: no-repeat;
	background-position: center;
}

.o {
	background-image: url("../img/o.png");
	background-repeat: no-repeat;
 	background-position: center;
}